
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PDF Knowledge Base</title>

    <link rel="stylesheet" href="{% static 'router/design.css' %}">
    <link rel="icon" href="data:;base64,=">
</head>

<body>

    <main class="app">

        <header class="header">
            <h1>PDF Knowledge Base</h1>
            <p>Upload a document and ask questions about it.</p>
        </header>


        <!-- the chat area -->>

        <section id="chat-box" class="chat-box">

            <div class="message bot-message">
                <p>
                    Upload a PDF and I'll help you find information inside it.
                </p>
            </div>

        </section>


        <!-- UPLOAD -->

        <form id="upload-form"
              method="POST"
              action="/router/uploaded/"
              enctype="multipart/form-data">

            {% csrf_token %}

            <div class="upload-area">

                <input
                    type="file"
                    id="file-input"
                    name="uploaded-file"
                    accept=".pdf"
                    required
                >

                <button type="submit">
                    Upload your PDF
                </button>

            </div>

        </form>


        <!-- QUESTION -->

        <form id="question-form"
              method="POST"
              action="/router/questions/">

            {% csrf_token %}

            <div class="question-area">

                <textarea
                    id="question-input"
                    name="question"
                    rows="1"
                    placeholder="Ask something about your PDF..."
                    required
                ></textarea>

                <button type="submit">
                    ↑
                </button>

            </div>

        </form>

    </main>


    <script src="{% static 'router/app.js' %}"></script>

</body>
</html>