<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drop a pdf</title>
    <link rel="stylesheet" href="design.css">

</head>
<body>
    <div class="Heading">
    <h1>
        This website turns your pdf into knowledge base 
    </h1>
    </div>
   
    <div>
        <form action="router/uploaded/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!--thats how we write comments in html bro-->
            <label for="file-chooser">choose a file to upload:</label>
            <input type="file" accept=".pdf" id="file-chooser" name="uploaded-file">
            <!-- the upload button-->
             <button type="submit">Upload</button>

        </form>
    <div>
        <form >
            <label for="questioner">Ask Questions abt the doc</label>
            <textarea
                rows="4"
                cols="50"
                placeholder="Ask questions about your pdf...."
            ></textarea>
            <button type="submit">&uparrow;</button>
        </form>

    </div>
    </div>
</body>
</html>    